 
   <!-- Custom fonts for this template-->
   <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/css?family=Kanit:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
   <link href="assets/vendor/aos/aos.css" rel="stylesheet">
   <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
   <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
   <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
   <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
 
    
 
 
   <!-- Template Main CSS File -->
   <link href="assets/css/style.css" rel="stylesheet">
  
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
  
        <!-- Main Content -->
        <div id="content">
  
          <!-- Topbar -->
          <header id="header" class="fixed-top d-flex align-items-center">
            <div class="container d-flex justify-content-between">
        
              <div class="logo">
                <h1><a href="index.html">DoSmartVill</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
              </div>
        
              <nav id="navbar" class="navbar">
                <ul>
                  <li><a id="post1" class="nav-link scrollto active" href="#hero">ประกาศหมู่บ้าน</a></li>
                  <li><a id="invoice1" class="nav-link scrollto" href="#about">ดูยอดต้องชำระ</a></li>
                  <li><a id="receipt1" class="nav-link scrollto" href="#services">ใบเสร็จรับเงิน</a></li>
                  <li><a id="report1" class="nav-link scrollto " href="#portfolio">รายงานสรุป</a></li>
                  <li><a id="contact1" class="nav-link scrollto" href="#team">เบอร์โทรฉุกเฉิน</a></li>
                 
                  
             
                  <li class="nav-link scrollto">
                    <a id="changepwd1" class="nav-link link text-white display-4" href="/login"><span class="mbri-cash mbr-iconfont mbr-iconfont-btn"></span>
                
                    เปลี่ยน password</a></li>
            <li class="nav-link scrollto"><a class="nav-link link text-white display-4" onclick="logout()"><span class="mbri-cash mbr-iconfont mbr-iconfont-btn"></span>
            
            ออกจากระบบ</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
              </nav><!-- .navbar -->
        
            </div>
          </header><!-- End Header -->

            <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ยืนยันที่จะออกจากระบบ?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">ยกเลิก</button>
          <a class="btn btn-primary text-white" onclick="logout()">ออกจากระบบ</a>
        </div>
      </div>
    </div>
  </div>
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Vendor JS Files -->
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

 