
      <!-- Content Wrapper -->
      <section class="menu cid-rNnuKRzwV6" once="menu" id="menu1-0">

    

        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="menu-logo">
                <div class="navbar-brand">
                    
                    <span  class="navbar-caption-wrap"><a id="villagename1" class="navbar-caption text-white display-5" href="/member"></a></span>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item">
                        <a id="post1" class="nav-link link text-white display-4" href="/login">
                            <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>ประกาศหมู่บ้าน</a>
                    </li>
                    <li class="nav-item">
                        <a id="invoice1" class="nav-link link text-white display-4" href="/login">
                            <span class="mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                            ดูยอดต้องชำระ</a>
                    </li>
                    <li class="nav-item">
                        <a id="receipt1" class="nav-link link text-white display-4" href="/login">
                            <span class="mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                            ใบเสร็จรับเงิน</a>
                    </li>
                    <li class="nav-item"><a id="report1" class="nav-link link text-white display-4" href="/login"><span class="mbri-cash mbr-iconfont mbr-iconfont-btn"></span>
                            
                        ดูรายงานรับ-จ่าย</a></li>
                            <li class="nav-item">
                                <a id="contact1" class="nav-link link text-white display-4" href="/login"><span class="mbri-cash mbr-iconfont mbr-iconfont-btn"></span>
                            
                                เบอร์โทรฉุกเฉิน</a></li>
                                <li class="nav-item">
                                    <a id="changepwd1" class="nav-link link text-white display-4" href="/login"><span class="mbri-cash mbr-iconfont mbr-iconfont-btn"></span>
                                
                                    เปลี่ยน password</a></li>
                            <li class="nav-item"><a class="nav-link link text-white display-4" onclick="logout()"><span class="mbri-cash mbr-iconfont mbr-iconfont-btn"></span>
                            
                            ออกจากระบบ</a></li>
                        </ul>
                
            </div>
        </nav>
    </section>

            <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ยืนยันที่จะออกจากระบบ?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">ยกเลิก</button>
          <a class="btn btn-primary text-white" onclick="logout()">ออกจากระบบ</a>
        </div>
      </div>
    </div>
  </div>



 