<section once="footers" class="cid-rNt8p3JVBT" id="footer6-k">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2020 DoSmartVill - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>