<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v4.11.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.11.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo2.png" type="image/x-icon">
  <meta name="description" content="">
  
  <title>Calendar</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />
 
<!-- If you use the default popups, use this. -->
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
  <style>
.sidepanel {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 10;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}




  </style>
  
</head>
<body>
  <section class="menu cid-rU4XP88UEQ" once="menu" id="menu2-4">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <button class="openbtn" onclick="openNav()">&#9776; Search</button>
            
                
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown navbar-nav-top-padding" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="index.html">
                        หน้าหลัก</a>
                </li><li class="nav-item"><a class="nav-link link text-white display-4" href="index.html">
                        สมาชิก</a></li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="contact.html">
                        ติดต่อเรา</a>
                </li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="tel:+1-234-567-8901">
                    <span class="btn-icon mbri-mobile mbr-iconfont mbr-iconfont-btn">
                    </span>082-282-2837</a></div>
        </div>
    </nav>
</section>

<section class="engine"><a href="https://mobirise.info/k">develop free website</a></section>

<section class="header15 cid-rTYUUA3kce" id="header15-0">
    

  
      
     <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="col-lg-12 col-md-12" >
            <div class="form-container" style="border: solid;border-color: white;border-radius: 30px;">
                <div class="media-container-column" data-form-type="formoid">
                    <!---Formbuilder Form--->
                    <form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="HEu/dcu5vIH8Iz6FyTmMCLtwpVv3iCOu2CncuezrXPUE/Sr0AVM9+JeFO2dmbhGFo3dHn5N0BfOcD3SIkfzjhb3KLlLoW2m7fc6VAXEgZVrEzgfocufNaIbY4xd2v00L">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            </div>
                        </div>
                        <div class="dragArea row">
                            <div class="col-md-12  form-group align-left" style="color: white;font-weight: bold;" data-for="email">
                                <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7 align-left">วันที่</label>
                                <input type="date" name="receiptdate" data-form-field="Email" required="required" class="form-control display-7 align-center" id="receiptdate">
                            </div>
                            <div class="col-md-6  form-group align-left" style="color: white;font-weight: bold;" data-for="email">
                                <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7 align-left">ต้งแต่เวลา</label>
                                <input type="time" step= "1800" name="receiptdate" data-form-field="Email" required="required" class="form-control display-7 align-right" id="receiptdate">
                            </div>
                            <div class="col-md-6  form-group align-left" style="color: white;font-weight: bold;" data-for="email">
                                <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7 align-left">ถึงเวลา</label>
                                <input type="time" step= "1800" name="receiptdate" data-form-field="Email" required="required" class="form-control display-7 align-right" id="receiptdate">
                            </div>
                            <!-- <div class="col-md-6  form-group align-center" style="color: white;font-weight: bold;" data-for="email">
                                 <input type="number"  name="receiptdate" data-form-field="Email" required="required" class="form-control display-7 align-center" id="receiptdate">
                                 <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7 align-left">จำนวนคอร์ต</label>
                                </div>
                            <br> -->
                            <div class="col-md-6 input-group-btn"><button type="submit" class="btn-sm btn-form btn-secondary display-4" style="padding: 20px;width: 150px;" > <a class="nav-link link text-white display-4" href="/search">ค้นหา</a></button></div>
                        </div>
                    </form><!---Formbuilder Form--->
                </div>
            </div>
        </div>
      </div>

    <div class="container align-right" >
        <div class="row" >
            <div class="mbr-white col-lg-12 col-md-12 content-container align-left" >
                
                <h3 class="mbr-section-title mbr-bold pb-5 mbr-fonts-style display-2" id="head1">Badminton Court Booking online</h3>
                
           
            <div class="col-lg-12 col-md-12" id = "searchform" >
                <div class="form-container" style="border: solid;border-color: white;border-radius: 30px;">
                    <div class="media-container-column" data-form-type="formoid">
                        <!---Formbuilder Form--->
                        <form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="HEu/dcu5vIH8Iz6FyTmMCLtwpVv3iCOu2CncuezrXPUE/Sr0AVM9+JeFO2dmbhGFo3dHn5N0BfOcD3SIkfzjhb3KLlLoW2m7fc6VAXEgZVrEzgfocufNaIbY4xd2v00L">
                            <div class="row">
                                <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                                <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                </div>
                            </div>
                            <div class="dragArea row">
                                <div class="col-md-4  form-group align-left" style="color: white;font-weight: bold;" data-for="email">
                                    <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7 align-left">วันที่</label>
                                    <input type="date" name="receiptdate" data-form-field="Email" required="required" class="form-control display-7 align-center" id="receiptdate">
                                </div>
                                <div class="col-md-2  form-group align-left" style="color: white;font-weight: bold;" data-for="email">
                                    <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7 align-left">ต้งแต่เวลา</label>
                                    <input type="time" step= "1800" name="receiptdate" data-form-field="Email" required="required" class="form-control display-7 align-right" id="receiptdate">
                                </div>
                                <div class="col-md-2  form-group align-left" style="color: white;font-weight: bold;" data-for="email">
                                    <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7 align-left">ถึงเวลา</label>
                                    <input type="time" step= "1800" name="receiptdate" data-form-field="Email" required="required" class="form-control display-7 align-right" id="receiptdate">
                                </div>
                                <!-- <div class="col-md-2  form-group align-center" style="color: white;font-weight: bold;" data-for="email">
                                    <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7 align-left">จำนวนคอร์ต</label>
                                    <input type="number"  name="receiptdate" data-form-field="Email" required="required" class="form-control display-7 align-center" id="receiptdate">
                                     </div> -->
                                <br>
                                <div class="col-md-2 input-group-btn"><button type="submit" class="btn btn-form btn-sm btn-secondary display-4" style="padding: 20px;width: 150px;" > <a class="nav-link link text-white display-4" href="/search">ค้นหา</a></button></div>
                            </div>
                        </form><!---Formbuilder Form--->
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    
</section>


<section class="pricing-table1 cid-rU50nyOXXv " id="pricing-tables1-5" >

    <div class="col-md-12" style="margin-top: -50px;"  >

        <div class="row">
            <div class="col-md-4">
            <div class="sidenav">
                
                <div class="container col-md-12" style="background-color: white;border: solid;border-color: white;border-radius: 30px;margin-right: 10px">
                    
                            
                    <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3" >
                        <div class="plan-header text-center pt-5" style="padding: 0px;" >
                          
                            <div class="plan-price"  >
                                <img src="./assets/images/court.jpg"  class="image" style="width:100%;" alt="Girl in a jacket">
                                <!-- <h1 class="plan-title mbr-fonts-style display-5" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: red;font-weight: bold;">คอร์ดที่ 3</h1> -->
                                <h1 class="plan-title mbr-fonts-style display-5"> คอร์ดที่ 3 </h1>
                                <div class="overlay">
                                    <div class="text">คอร์ดที่ 3</div>
                                  </div>
                            </div>
                        </div>
                        <!-- <div class="plan-body pb-5 "  >
                            <div class="plan-list align-center">
                                <ul class="list-group list-group-flush mbr-fonts-style display-7">
                                    <li class="list-group-item"><br></li>
                                    <li class="list-group-item"><br></li>
                                </ul>
                            </div>
                            
                        </div> -->
                    </div>
               
               
                </div>
                <div class="container col-md-12" style="background-color: white;border: solid;border-color: white;border-radius: 30px;margin-right: 10px">
                    
                            
                    <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3" >
                        <div class="plan-header text-center pt-5" style="padding: 0px;" >
                          
                            <div class="plan-price"  >
                                <img src="./assets/images/court.jpg"  class="image" style="width:100%;" alt="Girl in a jacket">
                                <!-- <h1 class="plan-title mbr-fonts-style display-5" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: red;font-weight: bold;">คอร์ดที่ 3</h1> -->
                                <h1 class="plan-title mbr-fonts-style display-5"> คอร์ดที่ 5 </h1>
                                <div class="overlay">
                                    <div class="text">คอร์ดที่ 5</div>
                                  </div>
                            </div>
                        </div>
                        <!-- <div class="plan-body pb-5 "  >
                            <div class="plan-list align-center">
                                <ul class="list-group list-group-flush mbr-fonts-style display-7">
                                    <li class="list-group-item"><br></li>
                                    <li class="list-group-item"><br></li>
                                </ul>
                            </div>
                            
                        </div> -->
                    </div>
               
               
                </div>    
                <div class="container col-md-12" style="background-color: white;border: solid;border-color: white;border-radius: 30px;margin-right: 10px">
                    
                            
                    <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3" >
                        <div class="plan-header text-center pt-5" style="padding: 0px;" >
                          
                            <div class="plan-price"  >
                                <img src="./assets/images/court.jpg"  class="image" style="width:100%;" alt="Girl in a jacket">
                                <!-- <h1 class="plan-title mbr-fonts-style display-5" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: red;font-weight: bold;">คอร์ดที่ 3</h1> -->
                                <h1 class="plan-title mbr-fonts-style display-5"> คอร์ดที่ 7 </h1>
                                <div class="overlay">
                                    <div class="text">คอร์ดที่ 7</div>
                                  </div>
                            </div>
                        </div>
                        <!-- <div class="plan-body pb-5 "  >
                            <div class="plan-list align-center">
                                <ul class="list-group list-group-flush mbr-fonts-style display-7">
                                    <li class="list-group-item"><br></li>
                                    <li class="list-group-item"><br></li>
                                </ul>
                            </div>
                            
                        </div> -->
                    </div>
               
               
                </div>
                            <div class="col-md-12" style="background-color: white;border: solid;border-color: white;border-radius: 30px;margin-right: 10px;display: none;">
                    
                    
                                <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3" >
                                    <div class="plan-header text-center pt-5" style="padding: 0px;" >
                                      
                                        <div class="plan-price"  >
                                            <img src="./assets/images/court.jpg" style="width:90%;" alt="Girl in a jacket">
                                            <!-- <h1 class="plan-title mbr-fonts-style display-5" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: red;font-weight: bold;">คอร์ดที่ 3</h1> -->
                                            <h1 class="plan-title mbr-fonts-style display-5"> คอร์ดที่ 8 </h1>
                                        </div>
                                    </div>
                                    <!-- <div class="plan-body pb-5 "  >
                                        <div class="plan-list align-center">
                                            <ul class="list-group list-group-flush mbr-fonts-style display-7">
                                                <li class="list-group-item"><br></li>
                                                <li class="list-group-item"><br></li>
                                            </ul>
                                        </div>
                                        
                                    </div> -->
                                </div>
                            </div>    
                            <div class="container col-md-12" style="background-color: white;border: solid;border-color: white;border-radius: 30px;margin-right: 10px;display: none;">
                    
                            
                                <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3" >
                                    <div class="plan-header text-center pt-5" style="padding: 0px;" >
                                      
                                        <div class="plan-price"  >
                                            <img src="./assets/images/court.jpg"  class="image" style="width:100%;" alt="Girl in a jacket">
                                            <!-- <h1 class="plan-title mbr-fonts-style display-5" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: red;font-weight: bold;">คอร์ดที่ 3</h1> -->
                                            <h1 class="plan-title mbr-fonts-style display-5"> คอร์ดที่ 10 </h1>
                                            <div class="overlay">
                                                <div class="text">คอร์ดที่ 10</div>
                                              </div>
                                        </div>
                                    </div>
                                    <!-- <div class="plan-body pb-5 "  >
                                        <div class="plan-list align-center">
                                            <ul class="list-group list-group-flush mbr-fonts-style display-7">
                                                <li class="list-group-item"><br></li>
                                                <li class="list-group-item"><br></li>
                                            </ul>
                                        </div>
                                        
                                    </div> -->
                                </div>
                           
                           
                            </div>
            </div>   </div>
            <div class="col-md-8">
                <h3 class="plan-title mbr-bold display-2">คอร์ดที่ว่างในวันและเวลาที่เลือก</h3>
             
                <!-- <h1 class="plan-title mbr-fonts-style display-3 align-left"> คอร์ดที่ว่างในวันและเวลาที่เลือก </h1> -->
                <div id="menu">
                    <span id="menu-navi">
                      <button type="button" class="btn btn-default btn-sm move-today" data-action="move-today">Today</button>
                      <button type="button" class="btn btn-default btn-sm move-day" data-action="move-prev">
                        <i class="calendar-icon mbri-left" onclick="moveleft()"></i>
                      </button>
                      <button type="button" class="btn btn-default btn-sm move-day" data-action="move-next">
                        <i class="calendar-icon mbri-right" onclick="moveright()"></i>
                      </button>
                    </span>
                    <span id="renderRange" class="render-range"></span>
                  </div>
              
                  <div id="calendar" style="height: 1200px;">
        
        
                  </div>  
            </div>

        
           

    </div>
</div>

</section>


<section once="footers" class="cid-rTYZ31KwgG" id="footer7-2">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="row row-links">
                <ul class="foot-menu">
                    
                    
                    
                    
                    
                <li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white mbr-bold" href="#" target="_blank">About us</a>
                    </li><li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white mbr-bold" href="#" target="_blank">Services</a>
                    </li><li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white mbr-bold" href="#" target="_blank">Get In Touch</a>
                    </li><li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white mbr-bold" href="#" target="_blank">Careers</a>
                    </li><li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white mbr-bold" href="#" target="_blank">Work</a>
                    </li></ul>
            </div>
            <div class="row social-row">
                <div class="social-list align-right pb-2">
                    
                    
                    
                    
                    
                    
                <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                            <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.youtube.com/c/mobirise" target="_blank">
                            <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://instagram.com/mobirise" target="_blank">
                            <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                            <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.behance.net/Mobirise" target="_blank">
                            <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div></div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright 2019 Badminton Booking - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid/formoid.min.js"></script>
  <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
<script src="https://uicdn.toast.com/tui.dom/v3.0.0/tui-dom.js"></script>
<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
<script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>
  
</body>
</html>
<script>
    var MONTHLY_CUSTOM_THEME = {
    // month header 'dayname'
    'common.holiday.color': '#f54f3d',
    'month.dayname.height': '42px',
    'month.dayname.borderLeft': 'none',
    'month.dayname.paddingLeft': '8px',
    'month.dayname.paddingRight': '0',
    'month.dayname.fontSize': '13px',
    'month.dayname.backgroundColor': 'inherit',
    'month.dayname.fontWeight': 'normal',
    'month.dayname.textAlign': 'left',

    // month day grid cell 'day'
    'month.holidayExceptThisMonth.color': '#f3acac',
    'month.dayExceptThisMonth.color': '#bbb',
    'month.weekend.backgroundColor': '#fafafa',
    'month.day.fontSize': '16px',

    // month schedule style
    'month.schedule.borderRadius': '5px',
    'month.schedule.height': '18px',
    'month.schedule.marginTop': '2px',
    'month.schedule.marginLeft': '10px',
    'month.schedule.marginRight': '10px',

    // month more view
    'month.moreView.boxShadow': 'none',
    'month.moreView.paddingBottom': '0',
    'month.moreView.border': '1px solid #9a935a',
    'month.moreView.backgroundColor': '#f9f3c6',
    'month.moreViewTitle.height': '28px',
    'month.moreViewTitle.marginBottom': '0',
    'month.moreViewTitle.backgroundColor': '#f4f4f4',
    'month.moreViewTitle.borderBottom': '1px solid #ddd',
    'month.moreViewTitle.padding': '0 10px',
    'month.moreViewList.padding': '10px'
  };


  var cal = new tui.Calendar('#calendar', {
    defaultView: 'week',
    useCreationPopup: true,
    useDetailPopup: true,
    week: {
        workweek: false,
        hourStart: 8,
        hourEnd: 21
    },
    
    theme: MONTHLY_CUSTOM_THEME // set theme
  });
  cal.setCalendarColor('1', {
    color: '#e8e8e8',
    bgColor: '#585858',
    borderColor: '#a1b56c',
    dragBgColor: '#585858',
});

  //cal.toggleTaskView(false);
  
  cal.createSchedules([
    {
        id: '1',
        calendarId: '1',
        title: 'คุณ ประยุทธ',
        category: 'time',
        dueDateClass: '',
        start: '2020-04-08T17:30:00+09:00',
        end: '2020-04-08T20:30:00+09:00',
        isReadOnly: false    // schedule is read-only
    },
    {
        id: '2',
        calendarId: '1',
        title: 'นาย อนุทิน',
        category: 'time',
        dueDateClass: '',
        start: '2020-04-07T17:30:00+09:00',
        end: '2020-04-07T18:30:00+09:00',
        isReadOnly: false    // schedule is read-only
    }
]);
cal.on('beforeUpdateSchedule', function(event) {
    var schedule = event.schedule;
    var changes = event.changes;

    cal.updateSchedule(schedule.id, schedule.calendarId, changes);
});
cal.on('beforeCreateSchedule', function(event) {
    var startTime = event.start;
    var endTime = event.end;
    var isAllDay = event.isAllDay;
    var guide = event.guide;
    var triggerEventName = event.triggerEventName;
    var schedule;

    if (triggerEventName === 'click') {
        // open writing simple schedule popup
        schedule = {
            
        id: '1',
        calendarId: '1',
        title: 'คุณ ประยุทธ',
        category: 'time',
        dueDateClass: '',
        start: '2020-03-30T17:30:00+09:00',
        end: '2020-03-30T20:30:00+09:00'
   
        };
    } else if (triggerEventName === 'dblclick') {
        // open writing detail schedule popup
        schedule = {
            id: '1',
        calendarId: '1',
        title: 'คุณ ประยุทธ',
        category: 'time',
        dueDateClass: '',
        start: '2020-03-30T17:30:00+09:00',
        end: '2020-03-30T20:30:00+09:00'
        };
    }

    cal.createSchedules([schedule]);
});
function moveleft() {
    cal.prev();
};
function moveright() {
    cal.next();
};
  //calendar.toggleScheduleView(true);
  //calendar.toggleScheduleView(false);
 
    var x = screen.width;
       
       if (x<800) {
         document.getElementById('head1').style = "font-size:large;margin-bottom:-80px";
         document.getElementById('searchform').style.display = "none";
         //document.getElementById('myChart2').style = "border-style: solid;border-radius: 10px;border-color: white;padding:0px;background-color: white";
       } 
       function openNav() {
  document.getElementById("mySidepanel").style.width = "100%";
}

/* Set the width of the sidebar to 0 (hide it) */
function closeNav() {
  document.getElementById("mySidepanel").style.width = "0";
}
   </script>
   