<!DOCTYPE.html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DooSmartVill - เบอร์ติดต่อ</title>

  <!-- Custom fonts for this template-->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Kanit:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="assets/css/sb-admin-2.css" rel="stylesheet">

</head>

<style>
.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

</style>

<body id="page-top" onload="startTime()">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('partials/adminheader.ejs') %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid" style="min-height:75%;">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h2 mb-0 text-gray-800" style="color: blue;">เบอร์โทรติดต่อฉุกเฉิน</h1>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>

          <!-- Content Row -->


          <!-- Content Row -->

                     <!-- Color System -->
                     <div class="row">
                 
                      <!-- Approach -->
                      <div class="col-lg-3 ">
              <div class="card shadow mb-4">
                <div class="card-header bg-success py-3">
                  <h6 class="m-0 font-weight-bold text-gray-100 text-lg">ผู้จัดการนิติ (คุณชัยรงค์)</h6>
                </div>
                <div class="card-body text-lg " style="text-align: center;" >
                 
                    <a href="callto:064-018-2373"> 064-018-2373 </a>
                  </div>
              </div>
            </div>
            <div class="col-lg-3 ">
              <div class="card shadow mb-4">
                <div class="card-header bg-success py-3">
                  <h6 class="m-0 font-weight-bold text-gray-100 text-lg">ประธาน (คุณโกศล)</h6>
                </div>
                <div class="card-body text-lg " style="text-align: center;" >
                 
                  <a href="callto:081-848-8921">081-848-8921</a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 ">
              <div class="card shadow mb-4">
                <div class="card-header bg-success py-3">
                  <h6 class="m-0 font-weight-bold text-gray-100 text-lg">ป้อมรปภ</h6>
                </div>
                <div class="card-body text-lg " style="text-align: center;" >
                 
                  <a href="callto:0863402152">097-049-8033</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 ">
              <div class="card shadow mb-4">
                <div class="card-header bg-success py-3">
                  <h6 class="m-0 font-weight-bold text-gray-100 text-lg">ตำรวจ</h6>
                </div>
                <div class="card-body text-lg " style="text-align: center;" >
                 
                  <a href="callto:191">  191</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 ">
              <div class="card shadow mb-4">
                <div class="card-header bg-success py-3">
                  <h6 class="m-0 font-weight-bold text-gray-100 text-lg">การไฟฟ้า</h6>
                </div>
                <div class="card-body text-lg " style="text-align: center;" >
                 
                  <a href="callto:1129"> 1129</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 ">
              <div class="card shadow mb-4">
                <div class="card-header bg-success py-3">
                  <h6 class="m-0 font-weight-bold text-gray-100 text-lg">ดับเพลิง-ไฟใหม้</h6>
                </div>
                <div class="card-body text-lg " style="text-align: center;" >
                 
                  <a href="callto:199">199</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 ">
              <div class="card shadow mb-4">
                <div class="card-header bg-success py-3">
                  <h6 class="m-0 font-weight-bold text-gray-100 text-lg">แพทย์ฉุกเฉิน</h6>
                </div>
                <div class="card-body text-lg " style="text-align: center;" >
                 
                  <a href="callto:199">1669</a>
                </div>
              </div>
            </div>
        
                                         
                      
                
        
                    </div>
      
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

          <!-- Footer -->
          <%- include('partials/adminfooter.ejs') %>
          <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Modal Select income period-->

 <div class="modal fade" id="incomeperiod" role="dialog" >
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content" style="height:auto;" >
      <div class="modal-header">
       
              <h4 class="modal-title">ข้อมูลรายรับระหว่างวันที่</h4>
      </div> 
      <form id="status1"  action="/loadincome" method="post" style="padding:10px">
          <div class="dragArea row">
              <div data-for="number" class="col-md-12  form-group" style="text-align: center;">
                  <label for="phone-form1-h" class="form-control-label mbr-fonts-style display-7">เลือกช่วงเวลา</label>
                  <!-- <input type="number" name="phone" data-form-field="Phone" class="form-control display-7" id="phone-form1-h"> -->
                  <div class="radio" onchange="showperiod()" >
                      <label style="padding-right: 20px;"><input type="radio" name="period" id= "today" value="today" checked required >วันนี้</label>
                  
                      <label style="padding-right: 20px;"><input type="radio" name="period" id= "thismonth" value="thismonth" required>เดือนนี้</label>
                      <label style="padding-right: 20px;"><input type="radio" name="period" id= "period1" value="period" required onchange="showperiod()">เลือกช่วงเวลา</label>
                     
                     
                    </div>
              
              </div>    
              <div class="col-md-12" id="showperiod" style="display: none;"> 
                  <div class="row">     
          <div class="col-md-6  form-group" data-for="email">
              <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7">จากวันที่</label>
              <input type="date" id="start_date" name="start_date" data-form-field="Email" required="required" class="form-control display-7 align-right" >
          </div>
          <div class="col-md-6  form-group" data-for="email">
              <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7">ถึงวันที่</label>
              <input type="date" id="end_date" name="end_date" data-form-field="Email" required="required" class="form-control display-7 align-right" >
          </div>
      </div> 
  </div> 
  
      
          <div class="col-md-12 input-group-btn align-center" style="text-align: center;">
              <button type="submit" class="btn-sm btn-success" style="width:100px">ยืนยัน</button>
          <button type="button" class="btn-sm btn-warning" style="width:100px" data-dismiss="modal">ยกเลิก</button>
    
      </div>
  </div>
  </form>
    </div>
                  </div>
            

              </div>

<!-- Modal Select pending period-->
<div class="modal fade" id="pendingperiod" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content" style="height:250px;">
      <div class="modal-header">
       
              <h4 class="modal-title">ข้อมูลยอดเงินคงค้างระหว่างวันที่</h4>
      </div> 
      <form id="status1"  action="/loadpending" method="post" enctype="multipart/form-data" style="padding:10px">
          <div class="dragArea row">
                     
          <div class="col-md-6  form-group" data-for="email">
              <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7">จากวันที่</label>
              <input type="date" id="start_date1" name="start_date" data-form-field="Email" required="required" class="form-control display-7 align-right" >
          </div>
          <div class="col-md-6  form-group" data-for="email">
              <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7">ถึงวันที่</label>
              <input type="date" id="end_date1" name="end_date" data-form-field="Email" required="required" class="form-control display-7 align-right" >
          </div>
       
  
      
          <div class="col-md-12 input-group-btn align-center">
              <button type="submit" class="btn-sm btn-primary">ยืนยัน</button>
          <button type="button" class="btn-sm btn-default" data-dismiss="modal">ยกเลิก</button>
    
      </div>
  </div>
  </form>
    </div>
                  </div>
            

              </div>

<!-- End-->
<!-- Modal Select expense period-->
<div class="modal fade" id="expenseperiod" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content" style="height:250px;">
      <div class="modal-header">
       
              <h4 class="modal-title">ข้อมูลยอดค่าใช้จ่ายระหว่างวันที่</h4>
      </div> 
      <form id="status1"  action="/loadexpense" method="post"  style="padding:10px">
          <div class="dragArea row">
                     
          <div class="col-md-6  form-group" data-for="email">
              <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7">จากวันที่</label>
              <input type="date" id="start_date2" name="start_date" data-form-field="Email" required="required" class="form-control display-7 align-right" >
          </div>
          <div class="col-md-6  form-group" data-for="email">
              <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7">ถึงวันที่</label>
              <input type="date" id="end_date2" name="end_date" data-form-field="Email" required="required" class="form-control display-7 align-right" >
          </div>
       
  
      
          <div class="col-md-12 input-group-btn align-center">
              <button type="submit" class="btn-sm btn-primary">ยืนยัน</button>
          <button type="button" class="btn-sm btn-default" data-dismiss="modal">ยกเลิก</button>
    
      </div>
  </div>
  </form>
    </div>
                  </div>
            

              </div>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.ejs">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="assets/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="assets/js/demo/chart-area-demo.js"></script>
  <script src="assets/js/demo/chart-pie-demo.js"></script>
  <script>
    var x = screen.width;
    
       if (x<800) {
         document.getElementById('head1').style = "display:none";
         document.getElementById('txt').style = "font-size:20px";
        //  document.getElementById('accordionSidebar').style.width = "0px";;
         
       
         //document.getElementById('myChart2').style = "border-style: solid;border-radius: 10px;border-color: white;padding:0px;background-color: white";
       } 


   
   </script>
  <script>
    function startTime() {
      var today = new Date();
      var d = today.getDate();
      var mm = today.getMonth();
      var y = today.getFullYear();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      var month = new Array();
           month[0] = "มกราคม";
           month[1] = "กุมภาพันธ์";
           month[2] = "มีนาคม";
           month[3] = "เมษายน";
           month[4] = "พฤษภาคม";
           month[5] = "มิถุนายน";
           month[6] = "กรกฎาคม";
           month[7] = "สิงหาคม";
           month[8] = "กันยายน";
           month[9] = "ตุลาคม";
           month[10] = "พฤศจิกายน";
           month[11] = "ธันวาคม";
      m = checkTime(m);
      s = checkTime(s);
      document.getElementById('txt').innerHTML =
     "วันที่ " + d + " " + month[mm] + " " + y + " เวลา " + h + ":" + m + ":" + s;
      var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
      return i;
    }
    </script>
    <script>

      function showperiod() {
          //console.log ("already clicked");
          if ( document.getElementById("period1").checked == true) {
          document.getElementById("showperiod").style.display = "inline";
       } else {
          document.getElementById("showperiod").style.display = "none";
       }
      }
     
    
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1; //January is 0!
      
      var yyyy = today.getFullYear();
      if (dd < 10) {
        dd = '0' + dd;
      } 
      if (mm < 10) {
        mm = '0' + mm;
      } 
      var today = yyyy + '-' + mm + '-' + dd ;
      //console.log(today);
      document.getElementById("start_date").value = today;
      document.getElementById("end_date").value = today;
      document.getElementById("start_date1").value = today;
      document.getElementById("end_date1").value = today;
      document.getElementById("start_date2").value = today;
      document.getElementById("end_date2").value = today;
     
      
      </script>
</body>

</html>
