<!DOCTYPE.html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DooSmartVill - Expense</title>

  <!-- Custom fonts for this template-->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Kanit:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
 <link href="assets/css/sb-admin-2.css" rel="stylesheet">

</head>

<style>
.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

</style>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('partials/adminheader.ejs') %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid" style="min-height:75%;">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <!-- <h1 class="h3 mb-0 text-gray-800" style="color: blue;"><div id="txt"></div></h1> -->
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>

          <!-- Content Row -->


          <!-- Content Row -->

                     <!-- Color System -->
                     <div class="container" style="background-color: white;width: 100%;">
                      <div class="row justify-content-center">
                          <div class="title col-12 col-lg-12 " style="margin-top: 30px;">
                            <h1 class="m-0 font-weight-bold text-primary" style="text-align: center;"  >
                              บันทึกรายจ่าย</h1>
                                  <br>
                              
                          </div>
                      </div>
                  </div>
                     <div class="container" style="background-color: white;width: 100%;">
                      <div class="row justify-content-center">
                        <div class="media-container-column col-lg-8" data-form-type="formoid">
                            <!---Formbuilder Form--->
                            <form action="/saveexpense" method="POST" class="mbr-form form-with-styler">
                             
                                <div class="row">
                                   
                                    <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                    </div>
                                </div>
                                <div class="dragArea row">
                                    <div class="col-md-6  form-group" data-for="name">
                                        <label for="name-form1-h" class="form-control-label mbr-fonts-style display-7">ประเภทรายจ่าย</label>
                                  
                                        <!-- <input type="select" name="name" data-form-field="Name" required="required" class="form-control display-7" id="name-form1-h"> -->
                                        <select class="form-control display-7" name="expense_type" data-form-field="Name" id="expense_type">
                                            <option value="" disabled selected hidden >ระบุประเภทรายจ่าย</option>
                                            <option>ค่ารักษาความปลอดภัย</option>
                                            <option>ค่าจ้างพนักงาน</option>
                                            <option>ค่าไฟ</option>
                                            <option>ค่าน้ำ</option>
                                            <option>ค่าโทรศัพท์</option>
                                            <option>ค่าเก็บขยะ</option>
                                            <option>อุปกรณ์สำนักงาน</option>
                                            <option>อุปกรณ์ช่าง-สวน</option>
                                            <option>ค่าซ่อมบำรุง</option>
                                            <option>ค่าใช้จ่ายอื่นๆ</option>
            
                                          </select>
                                    </div>
                                    <div class="col-md-4  form-group" data-for="email">
                                        <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7">วันที่</label>
                                        <input type="date" name="expense_date" data-form-field="Email" required="required" class="form-control display-7 align-right" id="expense_date">
                                    </div>
                                    <div data-for="phone" class="col-md-12  form-group">
                                      <label for="phone-form1-h" class="form-control-label mbr-fonts-style display-7 ">ชื่อร้าน/บริษัท/หน่วยงานราชการ</label>
                                      <input type="text" name="company_name" data-form-field="Phone" class="form-control display-7 " value="" id="company_name" >
                                      <input type="hidden" name="token" data-form-field="Phone" class="form-control display-7" id="token">
                                    
                                    </div>
                                    <div data-for="message" class="col-md-12 form-group">
                                        <label for="message-form1-h" class="form-control-label mbr-fonts-style display-7">รายละเอียด</label>
                                        <textarea name="detail" data-form-field="Message" class="form-control display-7" id="detail"></textarea>
                                    </div>
                                    <div data-for="number" class="col-md-4  form-group" style="border-style: solid;;border-radius: 10px;border-color: lightgray;">
                                        <label for="phone-form1-h" class="form-control-label mbr-fonts-style display-7">เงินสด/เงินโอน</label>
                                        <!-- <input type="number" name="phone" data-form-field="Phone" class="form-control display-7" id="phone-form1-h"> -->
                                        <div class="radio">
                                            <label><input type="radio" name="payment_type" id= "payment_type1" value="เงินสด" checked>เงินสด</label>
                                          </div>
                                          <div class="radio">
                                            <label><input type="radio" name="payment_type" id= "payment_type2" value="จ่ายเช็ค">จ่ายเช็ค</label>
                                           
                                           
                                          </div>
                                          <div class="radio">
                                            <label><input type="radio" name="payment_type" id= "payment_type3" value="ตัดบัญชี">ตัดบัญชี</label>
                                           
                                           
                                          </div>
                                        </div>
                                    <div data-for="number" class="col-md-3  form-group">
                                        <label for="phone-form1-h" class="form-control-label mbr-fonts-style display-7" >จำนวนเงิน</label>
                                        <input type="number" style="background-color: yellow;" step="0.01" name="amount" data-form-field="Phone" class="form-control display-7 align-right" id="amount">
                                    </div>
                                    <div data-for="phone" class="col-md-5  form-group" style="margin-bottom:40px">
                                        <label for="phone-form1-h" class="form-control-label mbr-fonts-style display-7 ">ชื่อผู้รับเงิน</label>
                                        <input type="text" name="receiver_name" data-form-field="Phone" class="form-control display-7 " value="" id="receiver_name">
                                    </div>
                                  
                                    <div class="col-md-12 input-group-btn align-center" style="text-align: center;margin-top: 20px;">
                                        <button type="submit" class="btn btn-success btn-form display-4" style="width: 150px;margin: 10px;"">บันทึก</button>
                                        <button type="button" class="btn btn-warning btn-form display-4"style="width: 150px;margin: 10px;"" onclick="window.history.back()">ยกเลิก</button>
                                        <button type="button" class="btn btn-info btn-form display-4" style="width: 150px;" onclick="window.location.href='/getexpenselist'">ดูรายการ</button>
                                    
                                    </div>
                                </div>
                            </form><!---Formbuilder Form--->
                        </div>
                    </div>
      
        <!-- /.container-fluid -->

      </div>
      <br>
      <!-- End of Main Content -->

         <!-- Footer -->
         <%- include('partials/adminfooter.ejs') %>
         <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.ejs">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="assets/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="assets/js/demo/chart-area-demo.js"></script>
  <script src="assets/js/demo/chart-pie-demo.js"></script>
  <script>
// get admin name
document.getElementById("token").value = token1;
var fullname = localStorage.getItem("fullname");
  document.getElementById("receiver_name").value = "คุณ " +fullname;
  
    var today = new Date();
       var dd = today.getDate();
       var mm = today.getMonth() + 1; //January is 0!
       
       var yyyy = today.getFullYear();
       if (dd < 10) {
         dd = '0' + dd;
       } 
       if (mm < 10) {
         mm = '0' + mm;
       } 
       var today = yyyy + '-' + mm + '-' + dd ;
       //console.log(today);
       document.getElementById("expense_date").value = today;
    
   
   
   </script>

</body>

</html>
