<!DOCTYPE.html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DooSmartVill - ไอน์ดีไซน์</title>

  <!-- Custom fonts for this template-->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Kanit:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="assets/css/sb-admin-2.css" rel="stylesheet">

</head>

<style>
.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

</style>

<body>

  <%- include('partials/custheader.ejs') %>


        <!-- ======= Steps Section ======= -->
        <section id="steps" class="steps section-image" style="text-align: center;color: white;">
         
          <div class="container">
    
            <div class="row no-gutters">
    
              <div class="col-lg-4 col-6 content-item" data-aos="fade-in" >
                <span>01  </span>
               
                <a id="post2" href="/login" >
                  <span class="mbr-iconfont mbri-layers"> <h4><i class="far fa-newspaper"></i> ประกาศหมู่บ้าน</h4></span>
                  </a>
                <p>ข่าวประกาศต่างๆของหมู่บ้าน</p>
              </div>
    
              <div class="col-lg-4 col-6 content-item" data-aos="fade-in" data-aos-delay="100">
                <span>02 
                
                  <a id="invoice2" href="/login">
                    <h4><i class="far fa-file-alt"></i> ดูยอดต้องชำระ</h4></span>
                    </a>
                </span>
               
               
               
                <p>ดูยอดต้องชำระ</p>
              </div>

              <div class="col-lg-4 col-6 content-item" data-aos="fade-in" data-aos-delay="100">
                <span>03  
               
                <a id="slip" href="/login">
                  <span class="mbr-iconfont mbri-layers"> <h4><i class="fas fa-receipt"></i> ส่งสลิปโอนเงิน</h4></span>
                  </a>
                </span>
                <p>ส่งสลิปโอนเงินค่าส่วนกลาง ง่ายนิดเดียว</p>
              </div>
    
              <div class="col-lg-4 col-6 content-item" data-aos="fade-in" data-aos-delay="200">
                <span>04  </span>
               
                <a id="slip" href="/login">
                  <span class="mbr-iconfont mbri-layers"> <h4><i class="fas fa-receipt"></i> ใบเสร็จรับเงิน</h4></span>
                  </a>
                <p>ดูใบเสร็จรับเงินย้อนหลัง</p>
              </div>
    
              <div class="col-lg-4 col-6 content-item" data-aos="fade-in" data-aos-delay="300">
                <span>05 </span>
               
                <a id="report2" href="/login">
                  <span class="mbr-iconfont mbri-layers"> <h4><i class="fas fa-chart-line"></i> ดูสรุปรายรับ-จ่าย</h4></span>
                  </a>
                <p>ดูรายงานรับ-จ่าย</p>
              </div>
    
    
              <div class="col-lg-4 col-6 content-item" data-aos="fade-in" data-aos-delay="400">
                <span>06  </span>
               
                <a id="contact2" href="/login">
                  <span class="mbr-iconfont mbri-layers"> <h4><i class="fas fa-phone-alt"></i>  เบอร์โทรฉุกเฉิน</h4></span>
                  </a>
                <p> เบอร์โทรฉุกเฉิน</p>
              </div>
    
              <input type="hidden" id = "message" name="message"  class="form-control align-right"  value="<%= message %>" >
                  
              <% if (houseno.length > 0) {%>
                 
              <input type="hidden" id = "house_id" name="house_id"  class="form-control align-right"  value="<%= houseno %>" >
              <%} else {%>
                  <input type="hidden" id = "house_id" name="house_id"  class="form-control align-right"  >
           
                  <%} %>
    
            </div>
    
          </div>
        </section><!-- End Steps Section -->

            <!-- ======= F.A.Q Section ======= -->
  
</body>
  <!-- Bootstrap core JavaScript-->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Vendor JS Files -->
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="assets/js/sb-admin-2.min.js"></script>
  <script>
    window.scrollTo(0,1);
      //document.body.requestFullscreen();
       var message1= document.getElementById("message").value;
       if (message1 !== '') {
         alert(message1);
       }
 var houseid = localStorage.getItem("HouseID", houseid);
 //console.log(localStorage.getItem("HouseID",houseid));
 if (houseid == null) {
     
     
     houseid= document.getElementById("house_id").value;
     localStorage.setItem("HouseID", houseid);
 } 
 
 if (houseid !== null) {
 
     
     document.getElementById("post1").href = "/post";
     document.getElementById("invoice1").href = "/invoiceform/" + houseid;
       document.getElementById("receipt1").href = "/getmyreceiptlist/" + houseid;
       document.getElementById("report1").href = "/incomeexpense1";
       document.getElementById("contact1").href = "/contact";
       document.getElementById("post2").href = "/post";
     document.getElementById("invoice2").href = "/invoiceform/" + houseid;
       document.getElementById("receipt2").href = "/getmyreceiptlist/" + houseid;
       document.getElementById("slip").href = "/uploadslip";
       document.getElementById("report2").href = "/incomeexpense1";
       document.getElementById("contact2").href = "/contact";
       document.getElementById("changepwd1").href = "/changepwd/" + houseid;
      
 
 }
 function logout()
         {
 localStorage.clear();
 window.location.href="/login";
 //console.log(storeid);
         }
 
 </script>
 <script>
     //  var message= document.getElementById("message1").value;
     // if ( message !== "") {
     //     alert(message);
     //     return false;
     //   }
     var x = screen.width;
        
        if (x<800) {
           document.getElementById('head2').style.marginTop = "50px";
        } 
    
    </script>
</html>
